.banner{
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #ccc;
}

.login-page{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow:0 0 3px 3px #efefef;
  padding: 20px
}
.login-page h2{
  text-align: center;
}

.login-page .form-control{
  margin-bottom: 16px;
}

.registration-form .form-group .input-wrapper{
  display: flex;
  width: 49%;
}